server:
  port: 8084

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange: order.exchange
  queue: order.queue
  routingkey: order.created
  
